<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="baseUrl" value="https://test12.ewealthmanager.com/" />
    <add key="Username" value="ssoABRALC" />
    <add key="Password" value="Test1234t" />
    <add key="GUID1" value="04A95C41-E98C-1910-E9B0-E7F9F2B609CD" />
    <add key="GUID" value="11361120-235F-4FE8-8DF6-80ED324A3FD2" />
    <add key="householdaccountservice_URL" value="api/householdaccountservice/v1/" />
    <add key="preferences_URL" value="api/preferences/v1/" />
    <add key="advisorcontracts_URL" value="/api/advisorcontracts/v1/" />
    <add key="documentshouseholds_URL" value="api/documents/v1/household/" />
    <add key="households_URL" value="api/households/v1/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="household_ID" value="CA5ZQ9" />
    <add key="CA0FZ5household_ID" value="CA0FZ5" />
    <add key="OtherAgentHousehold_ID" value="CA1H79" />
    <add key="AgentDetails_ID" value="AG1634" />
    <add key="OtherClientAgent_ID" value="AG0076" />
    <add key="Invalidhousehold_ID" value="#$%#%##" />
    <add key="Documentservice_URL" value="api/documents/v1/" />
  </appSettings>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="APIAutomationTestingFW" />      
    </stepAssemblies>
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>